
.home{
    width: 600px;
    height: 600px;
    margin: 2rem auto;
}

.home .btn-container{
    display: flex;
}
.home input{
    width:100px;
    height:30px;
    margin: 0 5px;
}

.home button{
    width: 200px;
    height: 50px;
    color: #fff;
    background-color: green;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1rem;

}

.home button:hover{
    transform: scale(0.9);
}
.table-section{
    margin-top: 1rem;
    transform: translate(20%,5%);
}

.table td,.table th{
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.table .table-btn-edit{
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: blue;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

.table .table-btn-delete{
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}